<%- include('partials/header'); -%>
<h1>Home</h1>
<p> <%=startingContent%> </p>

<% for (let index = 0; index < posts.length; index++) { %> 
    <h1><%=posts[index].title%></h1>
    <p><%=posts[index].content%></p>
    <% } %> 

<%- include('partials/footer'); -%>